/* import tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* set up fonts */
@layer base {
  /* Cascadia Code */
  @font-face {
    font-family: "Cascadia Code";
    src:
      local("Cascadia Code"),
      url("/font-cascadia-code/CascadiaCode.woff2") format("woff2"),
      url("/font-cascadia-code/CascadiaCode.ttf") format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "Cascadia Code";
    src:
      local("Cascadia Code"),
      url("/font-cascadia-code/CascadiaCodeItalic.woff2") format("woff2"),
      url("/font-cascadia-code/CascadiaCodeItalic.ttf") format("truetype");
    font-style: italic;
  }

  /* Yrsa */
  @font-face {
    font-family: Yrsa;
    src:
      local("Yrsa"),
      url("/font-yrsa/Yrsa-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    size-adjust: 120%;
  }

  @font-face {
    font-family: Yrsa;
    src:
      local("Yrsa"),
      url("/font-yrsa/Yrsa-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
    size-adjust: 120%;
  }

  /* Work Sans */
  @font-face {
    font-family: "Work Sans";
    src:
      local("Work Sans"),
      url("/font-work-sans/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
  }

  @font-face {
    font-family: "Work Sans";
    src:
      local("Work Sans"),
      url("/font-work-sans/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
  }

  :root {
    @apply font-serif;
  }
}

/* scrolling */
@layer base {
  :root {
    @apply scroll-smooth;
    @apply scroll-pt-28;
  }

  pre {
    @apply overflow-auto;
  }
}

/* colours and decorations */
@layer base {
  body {
    @apply bg-fixed print:bg-transparent;
    @apply bg-gradient-to-br from-cyan-800 to-cyan-950;
  }

  a {
    @apply underline decoration-1 underline-offset-4;
  }

  a:hover,
  a:focus {
    @apply text-white;
    @apply decoration-double;
  }

  code {
    @apply p-1;
    @apply bg-cyan-950 print:bg-gray-200;

    print-color-adjust: exact;
  }

  pre {
    @apply max-w-max px-3 py-2;
    @apply bg-cyan-950 print:bg-gray-200;

    print-color-adjust: exact;
  }
}

/* heading classes */
@layer components {
  .heading-base {
    @apply font-bold;
    @apply font-sans;
  }

  .heading-size-1 {
    @apply heading-base;
    @apply text-5xl sm:text-6xl;
  }

  .heading-size-2 {
    @apply heading-base;
    @apply text-4xl;
  }

  .heading-size-3 {
    @apply heading-base;
    @apply text-2xl;
  }

  .heading-size-4 {
    @apply heading-base;
    @apply text-xl;
  }

  .heading-size-5 {
    @apply heading-base;
    @apply text-lg;
  }

  .heading-size-6 {
    @apply heading-base;
    @apply text-lg;
  }
}

/* text classes */
@layer components {
  .text-color-main {
    @apply text-white print:text-black;
  }

  .text-color-secondary {
    @apply text-gray-300 print:text-gray-600;
  }

  .text-minor {
    @apply text-color-secondary italic;
  }
}

/* skip to content link */
@layer components {
  .skip-to-content-link {
    @apply absolute z-30 m-4 bg-green-900 p-4 pb-5;

    transform: translateY(-140%);
    transition: transform 0.05s;
  }

  .skip-to-content-link:focus {
    transform: translateY(0%);
  }
}

/* custom shadows */
@layer utilities {
  .header-text-shadow {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 2px 8px black;
  }

  .footer-drop-shadow {
    filter: drop-shadow(4px 4px 4px rgb(0 0 0 / 50%));
  }
}

/* waves filter */
@layer utilities {
  .waves-mask {
    @apply backdrop-blur-sm -backdrop-hue-rotate-30;

    mask-image: url("$lib/banner-mask.png");
    filter: url("#wavesFilter");
  }
}

/* scroll bar */
@layer utilities {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
  body::-webkit-scrollbar {
    @apply w-6;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-cyan-800 to-cyan-950;
    @apply rounded-lg border-8 border-solid border-black;
  }

  body::-webkit-scrollbar-track {
    @apply bg-black;
  }
}
