@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply scroll-smooth;
  }

  body {
    @apply bg-fixed print:bg-transparent;
    @apply bg-gradient-to-br from-cyan-800 to-cyan-950;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl sm:text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  a {
    @apply underline decoration-1 underline-offset-4;
  }

  a:hover,
  a:focus {
    @apply text-white;
    @apply decoration-wavy;
  }

  code {
    @apply p-1;
    @apply bg-gray-700 print:bg-gray-200;

    print-color-adjust: exact;
  }
}

/* text classes */
@layer components {
  .text-color-main {
    @apply text-white print:text-black;
  }

  .text-color-secondary {
    @apply text-gray-300 print:text-gray-600;
  }

  .text-minor {
    @apply text-color-secondary text-sm italic;
  }
}

/* skip to content link */
@layer components {
  .skip-to-content-link {
    @apply absolute z-30 m-4 bg-green-900 p-4 pb-5;

    transform: translateY(-140%);
    transition: transform 0.05s;
  }

  .skip-to-content-link:focus {
    transform: translateY(0%);
  }
}

/* custom shadows */
@layer utilities {
  .header-text-shadow {
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 2px 8px black;
  }

  .footer-drop-shadow {
    filter: drop-shadow(4px 4px 4px rgb(0 0 0 / 50%));
  }
}

/* waves filter */
@layer utilities {
  .waves-mask {
    @apply backdrop-blur-sm -backdrop-hue-rotate-30;

    mask-image: url("$lib/banner-mask.png");
    filter: url("#wavesFilter");
  }
}

/* scroll bar */
@layer utilities {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
  body::-webkit-scrollbar {
    @apply w-6;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-gradient-to-b from-cyan-800 to-cyan-950;
    @apply rounded-lg border-8 border-solid border-black;
  }

  body::-webkit-scrollbar-track {
    @apply bg-black;
  }
}
